body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Codystar';
	font-weight: thin;
	width: 100%;
	padding: 0;
	background-color: black;
	z-index: -1;
	display: block;
}



.everything {
	width: 100%;
	min-height: 1200px;
	background-color: black;
	margin-right: 0;
	margin-right: 0;
}

/*********************************
			Nav Bar
**********************************/
ul {
	list-style: none;
	display: inline-block;
}

li {
	text-decoration: none;
	color: white;
	display: inline;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-family: 'Codystar', cursive;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 10px 10px 10px 10px;
	color: #EAD6D6;
	width: 18%;
}

.navbar {
	background: black;
	position: fixed;
	width: 100%;
	padding: 15px 20px;
	display: block;
}

.navbar-logo {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
}

.navbar-logo img {
	width: 100%;
	background-size: cover;
}

.navbar-buttons {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 59%;
	background-size: cover;

}

.navbar a:hover {
	color: #C77028;
}


.header {
	font-size: 50px;
	margin: 0;
	padding-top: 10%;
	padding-bottom: 0%;
	text-align: center;
	width: 100%;
	color: black;
	background-color: white;
	display: inline-block;
	font-family: 'codystar';
}


.firstvid {
	margin-top: 10%;
}

.head1 {
	width: 100%;
	margin-left: 0;
	margin-top: 0;
	text-align: center;
	color: white;
}




.you1 {
	width: 85%;
	position: relative;
	padding-bottom: 50%;
	/* 16:9 */
	margin-left: 15%;
	margin-right: 0;
	padding-right: 0;
	margin-top: 3%;
}

iframe {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-bottom: 0;
	width: 80%;
	height: 80%;
	margin-right: auto;
	margin-left: auto;
	border: none;
}

.head2 {
	text-align: center;
	color: white;
}



.you2 {
	width: 85%;
	position: relative;
	padding-bottom: 50%;
	/* 16:9 */
	margin-left: 15%;
	margin-right: 0;
	padding-right: 0;
	margin-top: 3%;
}


.head3 {
	text-align: center;
	color: white;
}



.you3 {
	width: 85%;
	position: relative;
	padding-bottom: 50%;
	/* 16:9 */
	margin-left: 15%;
	margin-right: 0;
	padding-right: 0;
	margin-top: 3%;
}


.head4 {
	text-align: center;
	color: white;
}



.you4 {
	width: 85%;
	position: relative;
	padding-bottom: 50%;
	/* 16:9 */
	margin-left: 15%;
	margin-right: 0;
	padding-right: 0;
	margin-top: 3%;
}


.head5 {
	text-align: center;
	color: white;
}



.you5 {
	width: 85%;
	position: relative;
	padding-bottom: 50%;
	/* 16:9 */
	margin-left: 15%;
	margin-right: 0;
	padding-right: 0;
	margin-top: 3%;
}

.head6 {
	text-align: center;
	color: white;
}



.you6 {
	width: 85%;
	position: relative;
	padding-bottom: 50%;
	/* 16:9 */
	margin-left: 15%;
	margin-right: 0;
	padding-right: 0;
	margin-top: 3%;
}